<launch>
<arg name="ns1" default="jackal1"/>
<arg name="ns2" default="jackal2"/>
  <group ns="/$(arg ns1)">
<node pkg="explore_lite" type="explore" respawn="false" name="j_1_explore" output="screen">
  <param name="robot_base_frame" value="/$(arg ns1)/base_link"/>
  <param name="costmap_topic" value="/$(arg ns1)/map"/>
  <param name="costmap_updates_topic" value="/$(arg ns1)/proj_map_updates"/>
  <param name="move_base_client" value="move_base"/>
  <param name="visualize" value="true"/>
  <param name="planner_frequency" value="1"/>
  <param name="progress_timeout" value="10"/>
  <param name="potential_scale" value="0.001"/>
  <param name="orientation_scale" value="10.0"/>
  <param name="gain_scale" value="1"/>
  <param name="transform_tolerance" value="0.3"/>
  <param name="min_frontier_size" value="0.1"/>
  <param name="camera_topic" value="/$(arg ns2)/mybot/camera/image_raw"/>
  <remap from="/explore/frontiers" to="/explore/frontiers"/>
</node>
    </group>
 <group ns="$(arg ns2)">
<node pkg="explore_lite" type="explore" respawn="false" name="j_2_explore" output="screen">
  <param name="robot_base_frame" value="/$(arg ns2)/base_link"/>
  <param name="costmap_topic" value="/$(arg ns2)/map"/>
  <param name="costmap_updates_topic" value="/$(arg ns2)/proj_map_updates"/>
  <param name="move_base_client" value="move_base"/>
  <param name="visualize" value="true"/>
  <param name="planner_frequency" value="1"/>
  <param name="progress_timeout" value="10"/>
  <param name="potential_scale" value="0.001"/>
  <param name="orientation_scale" value="10.0"/>
  <param name="gain_scale" value="1.0"/>
  <param name="transform_tolerance" value="0.3"/>
  <param name="min_frontier_size" value="0.1"/>
  <param name="camera_topic" value="/$(arg ns2)/mybot/camera/image_raw"/>
  <remap from="/explore/frontiers" to="/explore/frontiers"/>
</node>
    </group>
</launch>