<launch>
    <arg name="ns" default="jackal0"/>

    <arg name="j1_x_pos" default="14"/>
    <arg name="j1_y_pos" default="14"/>
    <arg name="j2_x_pos" default="-14"/>
    <arg name="j2_y_pos" default="-14"/>
    <arg name="j3_x_pos" default="14"/>
    <arg name="j3_y_pos" default="-14"/>
    <arg name="j4_x_pos" default="-14"/>
    <arg name="j4_y_pos" default="14"/>
    <arg name="j5_x_pos" default="-1"/>
    <arg name="j5_y_pos" default="14"/>
    <arg name="j6_x_pos" default="1"/>
    <arg name="j6_y_pos" default="-14"/>

    <node name="jackal_waypoint_publisher" pkg="rnn_sim" type="jackal_waypoint_publisher.py" args="$(find rnn_sim)/test_run/way_points_6_jackals.txt" output="screen" />
    <node name="j1_j2_map_exchange" pkg="rnn_sim" type="map_exchange.py" output="screen" >
        <param name="ns1"  value="jackal1"/>
        <param name="ns2" value="jackal2" />
        <param name="j1_x"  value="$(arg j1_x_pos)"/>
        <param name="j1_y" value="$(arg j1_y_pos)" />
        <param name="j2_x"  value="$(arg j2_x_pos)"/>
        <param name="j2_y" value="$(arg j2_y_pos)" />
        <param name="map_ns" value=""/>
    </node>
    <node name="j1_j3_map_exchange" pkg="rnn_sim" type="map_exchange.py" output="screen" >
        <param name="ns1"  value="jackal1"/>
        <param name="ns2" value="jackal3" />
        <param name="j1_x"  value="$(arg j1_x_pos)"/>
        <param name="j1_y" value="$(arg j1_y_pos)" />
        <param name="j2_x"  value="$(arg j3_x_pos)"/>
        <param name="j2_y" value="$(arg j3_y_pos)" />
        <param name="map_ns" value=""/>
    </node>
    <node name="j1_j4_map_exchange" pkg="rnn_sim" type="map_exchange.py" output="screen" >
        <param name="ns1"  value="jackal1"/>
        <param name="ns2" value="jackal4" />
        <param name="j1_x"  value="$(arg j1_x_pos)"/>
        <param name="j1_y" value="$(arg j1_y_pos)" />
        <param name="j2_x"  value="$(arg j4_x_pos)"/>
        <param name="j2_y" value="$(arg j4_y_pos)" />
        <param name="map_ns" value=""/>
    </node>
    <node name="j1_j5_map_exchange" pkg="rnn_sim" type="map_exchange.py" output="screen" >
        <param name="ns1"  value="jackal1"/>
        <param name="ns2" value="jackal5" />
        <param name="j1_x"  value="$(arg j1_x_pos)"/>
        <param name="j1_y" value="$(arg j1_y_pos)" />
        <param name="j2_x"  value="$(arg j5_x_pos)"/>
        <param name="j2_y" value="$(arg j5_y_pos)" />
        <param name="map_ns" value=""/>
    </node>
    <node name="j1_j6_map_exchange" pkg="rnn_sim" type="map_exchange.py" output="screen" >
        <param name="ns1"  value="jackal1"/>
        <param name="ns2" value="jackal6" />
        <param name="j1_x"  value="$(arg j1_x_pos)"/>
        <param name="j1_y" value="$(arg j1_y_pos)" />
        <param name="j2_x"  value="$(arg j6_x_pos)"/>
        <param name="j2_y" value="$(arg j6_y_pos)" />
        <param name="map_ns" value=""/>
    </node>
    <node name="j2_j3_map_exchange" pkg="rnn_sim" type="map_exchange.py" output="screen" >
        <param name="ns1"  value="jackal2"/>
        <param name="ns2" value="jackal3" />
        <param name="j1_x"  value="$(arg j2_x_pos)"/>
        <param name="j1_y" value="$(arg j2_y_pos)" />
        <param name="j2_x"  value="$(arg j3_x_pos)"/>
        <param name="j2_y" value="$(arg j3_y_pos)" />
        <param name="map_ns" value=""/>
    </node>
    <node name="j2_j4_map_exchange" pkg="rnn_sim" type="map_exchange.py" output="screen" >
        <param name="ns1"  value="jackal2"/>
        <param name="ns2" value="jackal4" />
        <param name="j1_x"  value="$(arg j2_x_pos)"/>
        <param name="j1_y" value="$(arg j2_y_pos)" />
        <param name="j2_x"  value="$(arg j4_x_pos)"/>
        <param name="j2_y" value="$(arg j4_y_pos)" />
        <param name="map_ns" value=""/>
    </node>
    <node name="j2_j5_map_exchange" pkg="rnn_sim" type="map_exchange.py" output="screen" >
        <param name="ns1"  value="jackal2"/>
        <param name="ns2" value="jackal5" />
        <param name="j1_x"  value="$(arg j2_x_pos)"/>
        <param name="j1_y" value="$(arg j2_y_pos)" />
        <param name="j2_x"  value="$(arg j5_x_pos)"/>
        <param name="j2_y" value="$(arg j5_y_pos)" />
        <param name="map_ns" value=""/>
    </node>
    <node name="j2_j6_map_exchange" pkg="rnn_sim" type="map_exchange.py" output="screen" >
        <param name="ns1"  value="jackal2"/>
        <param name="ns2" value="jackal6" />
        <param name="j1_x"  value="$(arg j2_x_pos)"/>
        <param name="j1_y" value="$(arg j2_y_pos)" />
        <param name="j2_x"  value="$(arg j6_x_pos)"/>
        <param name="j2_y" value="$(arg j6_y_pos)" />
        <param name="map_ns" value=""/>
    </node>
    <node name="j3_j4_map_exchange" pkg="rnn_sim" type="map_exchange.py" output="screen" >
        <param name="ns1"  value="jackal3"/>
        <param name="ns2" value="jackal4" />
        <param name="j1_x"  value="$(arg j3_x_pos)"/>
        <param name="j1_y" value="$(arg j3_y_pos)" />
        <param name="j2_x"  value="$(arg j4_x_pos)"/>
        <param name="j2_y" value="$(arg j4_y_pos)" />
        <param name="map_ns" value=""/>
    </node>
    <node name="j3_j5_map_exchange" pkg="rnn_sim" type="map_exchange.py" output="screen" >
        <param name="ns1"  value="jackal3"/>
        <param name="ns2" value="jackal5" />
        <param name="j1_x"  value="$(arg j3_x_pos)"/>
        <param name="j1_y" value="$(arg j3_y_pos)" />
        <param name="j2_x"  value="$(arg j5_x_pos)"/>
        <param name="j2_y" value="$(arg j5_y_pos)" />
        <param name="map_ns" value=""/>
    </node>
    <node name="j3_j6_map_exchange" pkg="rnn_sim" type="map_exchange.py" output="screen" >
        <param name="ns1"  value="jackal3"/>
        <param name="ns2" value="jackal6" />
        <param name="j1_x"  value="$(arg j3_x_pos)"/>
        <param name="j1_y" value="$(arg j3_y_pos)" />
        <param name="j2_x"  value="$(arg j6_x_pos)"/>
        <param name="j2_y" value="$(arg j6_y_pos)" />
        <param name="map_ns" value=""/>
    </node>
    <node name="j4_j5_map_exchange" pkg="rnn_sim" type="map_exchange.py" output="screen" >
        <param name="ns1"  value="jackal4"/>
        <param name="ns2" value="jackal5" />
        <param name="j1_x"  value="$(arg j4_x_pos)"/>
        <param name="j1_y" value="$(arg j4_y_pos)" />
        <param name="j2_x"  value="$(arg j5_x_pos)"/>
        <param name="j2_y" value="$(arg j5_y_pos)" />
        <param name="map_ns" value=""/>
    </node>
    <node name="j4_j6_map_exchange" pkg="rnn_sim" type="map_exchange.py" output="screen" >
        <param name="ns1"  value="jackal4"/>
        <param name="ns2" value="jackal6" />
        <param name="j1_x"  value="$(arg j4_x_pos)"/>
        <param name="j1_y" value="$(arg j4_y_pos)" />
        <param name="j2_x"  value="$(arg j6_x_pos)"/>
        <param name="j2_y" value="$(arg j6_y_pos)" />
        <param name="map_ns" value=""/>
    </node>
    <node name="j5_j6_map_exchange" pkg="rnn_sim" type="map_exchange.py" output="screen" >
        <param name="ns1"  value="jackal5"/>
        <param name="ns2" value="jackal6" />
        <param name="j1_x"  value="$(arg j5_x_pos)"/>
        <param name="j1_y" value="$(arg j5_y_pos)" />
        <param name="j2_x"  value="$(arg j6_x_pos)"/>
        <param name="j2_y" value="$(arg j6_y_pos)" />
        <param name="map_ns" value=""/>
    </node>

</launch>