<launch>
  <arg name="ns1"        default="jackal1"/>
  <arg name="ns2"        default="jackal2"/>
  <!-- <arg name="ns3"        default="jackal3"/> -->

  <arg name="j1_x_pos" default="4.8"/>
  <arg name="j1_y_pos" default="0.2"/>
  <arg name="j1_z_pos" default="0"/>
  <arg name="j1_yaw"   default="0"/>
  <arg name="j2_x_pos" default="0.2"/>
  <arg name="j2_y_pos" default="7.8"/>
  <arg name="j2_z_pos" default="0"/>
  <arg name="j2_yaw"   default="-1.57"/>

  <group ns="$(arg ns1)">
    <include file="$(find jackal_navigation_rtab)/launch/include/rtab.launch">
      <arg name="ns"    value="$(arg ns1)"/>
    </include>
    <include file="$(find jackal_navigation_rtab)/launch/include/move_base_rtab.launch" >
        <arg name="ns"             value="$(arg ns1)"/>
    </include>
  </group>

  <group ns="$(arg ns2)">
    <include file="$(find jackal_navigation_rtab)/launch/include/rtab.launch">
      <arg name="ns"    value="$(arg ns2)"/>
    </include>
    <include file="$(find jackal_navigation_rtab)/launch/include/move_base_rtab.launch" >
        <arg name="ns"             value="$(arg ns2)"/>
    </include>
  </group>

  <group ns="$(arg ns1)">
    <include file="$(find jackal_navigation_rtab)/launch/include/jackal_mapmerge.launch">
      <arg name="move_forward_only" value="false"/>
      <arg name="m1" value="$(arg ns1)"/>
      <arg name="m2" value="$(arg ns1)/map"/>
      <arg name="m1_x_pos" value="$(arg j1_x_pos)"/>
      <arg name="m1_y_pos" value="$(arg j1_y_pos)"/>
      <arg name="m1_z_pos" value="$(arg j1_z_pos)"/>
      <arg name="m1_yaw"   value="$(arg j1_yaw)"/>
      <arg name="m2_x_pos" value="0"/>
      <arg name="m2_y_pos" value="0"/>
      <arg name="m2_z_pos" value="0"/>
      <arg name="m2_yaw"   value="0"/>
      <arg name="robot_topic_map" value="jackal1_proj_map"/>
    </include>
  </group>

  <group ns="$(arg ns2)">
    <include file="$(find jackal_navigation_rtab)/launch/include/jackal_mapmerge.launch">
      <arg name="move_forward_only" value="false"/>
      <arg name="m1" value="$(arg ns2)"/>
      <arg name="m2" value="$(arg ns2)/map"/>
      <arg name="m1_x_pos" value="$(arg j2_x_pos)"/>
      <arg name="m1_y_pos" value="$(arg j2_y_pos)"/>
      <arg name="m1_z_pos" value="$(arg j2_z_pos)"/>
      <arg name="m1_yaw"   value="$(arg j2_yaw)"/>
      <arg name="m2_x_pos" value="0"/>
      <arg name="m2_y_pos" value="0"/>
      <arg name="m2_z_pos" value="0"/>
      <arg name="m2_yaw"   value="0"/>
      <arg name="robot_topic_map" value="jackal2_proj_map"/>
    </include>
  </group>


  <include file="$(find jackal_navigation_rtab)/launch/include/multi_jackal_mapmerge.launch">
    <arg name="j1"  value="$(arg ns1)"/>
    <arg name="j2" value="$(arg ns2)"/>
    <arg name="j1_x_pos" value="$(arg j1_x_pos)"/>
    <arg name="j1_y_pos" value="$(arg j1_y_pos)"/>
    <arg name="j1_z_pos" value="$(arg j1_z_pos)"/>
    <arg name="j1_yaw"   value="$(arg j1_yaw)"/>
    <arg name="j2_x_pos" value="$(arg j2_x_pos)"/>
    <arg name="j2_y_pos" value="$(arg j2_y_pos)"/>
    <arg name="j2_z_pos" value="$(arg j2_z_pos)"/>
    <arg name="j2_yaw"   value="$(arg j2_yaw)"/>
  </include>


</launch>