<launch>
  <arg name="j1"        default="jackal1"/>
  <arg name="j2"        default="jackal2"/>
  <!--<arg name="j3"        default="jackal3"/>
  <arg name="j4"        default="jackal4"/>-->

  <arg name="j1_x_pos" default="-15"/>
  <arg name="j1_y_pos" default="14.5"/>
  <arg name="j1_z_pos" default="0"/>
  <arg name="j1_yaw"   default="4.71"/>
  <arg name="j2_x_pos" default="-13.5"/>
  <arg name="j2_y_pos" default="14.5"/>
  <arg name="j2_z_pos" default="0"/>
  <arg name="j2_yaw"   default="4.71"/>
  <!--<arg name="j3_x_pos" default="14"/>
  <arg name="j3_y_pos" default="-14"/>
  <arg name="j3_z_pos" default="0"/>
  <arg name="j3_yaw"   default="3.14"/>
  <arg name="j4_x_pos" default="-14"/>
  <arg name="j4_y_pos" default="14"/>
  <arg name="j4_z_pos" default="0"/>
  <arg name="j4_yaw"   default="0"/>-->

  <!-- Run Rtap_map for all robots-->
  <group ns="$(arg j1)">
    <include file="$(find jackal_navigation_rtab)/launch/include/rtab_new.launch">
      <arg name="ns"    value="$(arg j1)"/>
    </include>
    <include file="$(find jackal_navigation_rtab)/launch/include/move_base_rtab.launch" >
        <arg name="ns"             value="$(arg j1)"/>
    </include>
  </group>

  <group ns="$(arg j2)">
    <include file="$(find jackal_navigation_rtab)/launch/include/rtab_new.launch">
      <arg name="ns"    value="$(arg j2)"/>
    </include>
    <include file="$(find jackal_navigation_rtab)/launch/include/move_base_rtab.launch" >
        <arg name="ns"             value="$(arg j2)"/>
    </include>
  </group>

   <!--<group ns="$(arg j3)">
    <include file="$(find jackal_navigation_rtab)/launch/include/rtab.launch">
      <arg name="ns"    value="$(arg j3)"/>
    </include>
    <include file="$(find jackal_navigation_rtab)/launch/include/move_base_rtab.launch" >
        <arg name="ns"             value="$(arg j3)"/>
    </include>
  </group>

  <group ns="$(arg j4)">
    <include file="$(find jackal_navigation_rtab)/launch/include/rtab.launch">
      <arg name="ns"    value="$(arg j4)"/>
    </include>
    <include file="$(find jackal_navigation_rtab)/launch/include/move_base_rtab.launch" >
        <arg name="ns"             value="$(arg j4)"/>
    </include>
  </group>-->


  <!--Run map merge for each robot for communcation purpose m1: map generated by SLAM, m2: map after communication-->
  <!-- <group ns="$(arg j1)">
    <include file="$(find jackal_navigation_rtab)/launch/include/jackal_mapmerge_v2.launch">
      <arg name="move_forward_only" value="false"/>
      <arg name="m1" value="$(arg j1)"/>
      <arg name="m2" value="$(arg j1)/map"/>
      <arg name="m1_x_pos" value="$(arg j1_x_pos)"/>
      <arg name="m1_y_pos" value="$(arg j1_y_pos)"/>
      <arg name="m1_z_pos" value="$(arg j1_z_pos)"/>
      <arg name="m1_yaw"   value="$(arg j1_yaw)"/>
      <arg name="m2_x_pos" value="0"/>
      <arg name="m2_y_pos" value="0"/>
      <arg name="m2_z_pos" value="0"/>
      <arg name="m2_yaw"   value="0"/>
      <arg name="robot_topic_map" value="jackal1_proj_map"/>
    </include>
  </group>

  <group ns="$(arg j2)">
    <include file="$(find jackal_navigation_rtab)/launch/include/jackal_mapmerge_v2.launch">
      <arg name="move_forward_only" value="false"/>
      <arg name="m1" value="$(arg j2)"/>
      <arg name="m2" value="$(arg j2)/map"/>
      <arg name="m1_x_pos" value="$(arg j2_x_pos)"/>
      <arg name="m1_y_pos" value="$(arg j2_y_pos)"/>
      <arg name="m1_z_pos" value="$(arg j2_z_pos)"/>
      <arg name="m1_yaw"   value="$(arg j2_yaw)"/>
      <arg name="m2_x_pos" value="0"/>
      <arg name="m2_y_pos" value="0"/>
      <arg name="m2_z_pos" value="0"/>
      <arg name="m2_yaw"   value="0"/>
      <arg name="robot_topic_map" value="jackal2_proj_map"/>
    </include>
  </group> -->

  <!--<group ns="$(arg j3)">
    <include file="$(find jackal_navigation_rtab)/launch/include/jackal_mapmerge.launch">
      <arg name="move_forward_only" value="false"/>
      <arg name="m1" value="$(arg j3)"/>
      <arg name="m2" value="$(arg j3)/map"/>
      <arg name="m1_x_pos" value="$(arg j3_x_pos)"/>
      <arg name="m1_y_pos" value="$(arg j3_y_pos)"/>
      <arg name="m1_z_pos" value="$(arg j3_z_pos)"/>
      <arg name="m1_yaw"   value="$(arg j3_yaw)"/>
      <arg name="m2_x_pos" value="0"/>
      <arg name="m2_y_pos" value="0"/>
      <arg name="m2_z_pos" value="0"/>
      <arg name="m2_yaw"   value="0"/>
      <arg name="robot_topic_map" value="jackal3_proj_map"/>
    </include>
  </group>

  <group ns="$(arg j4)">
    <include file="$(find jackal_navigation_rtab)/launch/include/jackal_mapmerge.launch">
      <arg name="move_forward_only" value="false"/>
      <arg name="m1" value="$(arg j4)"/>
      <arg name="m2" value="$(arg j4)/map"/>
      <arg name="m1_x_pos" value="$(arg j4_x_pos)"/>
      <arg name="m1_y_pos" value="$(arg j4_y_pos)"/>
      <arg name="m1_z_pos" value="$(arg j4_z_pos)"/>
      <arg name="m1_yaw"   value="$(arg j4_yaw)"/>
      <arg name="m2_x_pos" value="0"/>
      <arg name="m2_y_pos" value="0"/>
      <arg name="m2_z_pos" value="0"/>
      <arg name="m2_yaw"   value="0"/>
      <arg name="robot_topic_map" value="jackal4_proj_map"/>
    </include>
  </group>-->


  <!--map merge for each two of the robot-->
  <!--listing init position of robots-->
  <!-- <group ns="/$(arg j1)/map_merge">
    <param name="init_pose_x" value="$(arg j1_x_pos)"/>
    <param name="init_pose_y" value="$(arg j1_y_pos)"/>
    <param name="init_pose_z" value="$(arg j1_z_pos)"/>
    <param name="init_pose_yaw" value="0.0"/>
  </group>

  <group ns="/$(arg j2)/map_merge">
    <param name="init_pose_x" value="$(arg j2_x_pos)"/>
    <param name="init_pose_y" value="$(arg j2_y_pos)"/>
    <param name="init_pose_z" value="$(arg j2_z_pos)"/>
    <param name="init_pose_yaw" value="0.0"/>
  </group> -->
  
  <!--<group ns="/$(arg j3)/map_merge">
    <param name="init_pose_x" value="$(arg j3_x_pos)"/>
    <param name="init_pose_y" value="$(arg j3_y_pos)"/>
    <param name="init_pose_z" value="$(arg j3_z_pos)"/>
    <param name="init_pose_yaw" value="0.0"/>
  </group>

  <group ns="/$(arg j4)/map_merge">
    <param name="init_pose_x" value="$(arg j4_x_pos)"/>
    <param name="init_pose_y" value="$(arg j4_y_pos)"/>
    <param name="init_pose_z" value="$(arg j4_z_pos)"/>
    <param name="init_pose_yaw" value="0.0"/>
  </group>-->

  <!--jackal 1 and 2-->
  <!-- <node pkg="multirobot_map_merge" type="map_merge" respawn="false" name="map_merge" output="screen" ns="j1_j2">
    <param name="robot_map_topic" value="map"/>
    <param name="robot_namespace" value=""/>
    <param name="merged_map_topic" value="merge_map"/>
    <param name="world_frame" value="map"/>
    <param name="known_init_poses" value="true"/>
    <param name="merging_rate" value="5.0"/>
    <param name="discovery_rate" value="0.1"/>
    <param name="estimation_rate" value="1.0"/>
    <param name="estimation_confidence" value="1.0"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="world_to_j1_j2_tf_broadcaster"  args="0 0 0 0 0 0 /map /j1_j2/map 100"/> -->

  <!-- A global map for tracking robot states-->
  <node pkg="rnn_sim" type="map_merge.py" respawn="false" name="map_merge" output="screen">
    <param name="map_topic1" value="/$(arg j1)/map"/>
    <param name="map_topic2" value="/$(arg j2)/map"/>
    <param name="merge_map_topic" value = "/map"/>
    <!-- <param name="robot_map_topic" value="map"/>
    <param name="robot_namespace" value=""/>
    <param name="merged_map_topic" value="map"/>
    <param name="world_frame" value="map"/>
    <param name="known_init_poses" value="true"/>
    <param name="merging_rate" value="5.0"/>
    <param name="discovery_rate" value="0.1"/>
    <param name="estimation_rate" value="1.0"/>
    <param name="estimation_confidence" value="1.0"/> -->
  </node>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg j1)_tf_broadcaster"  args="0 0 0 0 0 0 /map /$(arg j1)/proj_map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg j2)_tf_broadcaster" args="0 0 0 0 0 0 /map /$(arg j2)/proj_map 100"/>
  <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_map_tf_broadcaster" args="0 0 0 0 0 0 /world /map 100"/> -->

  <!-- <node name="map_merge_test" pkg="rnn_sim" type="map_merge.py" output="screen" >
    <param name="map_topic1" value="$(arg j1)/map"/>
    <param name="map_topic2" value="$(arg j2)/map"/>
    <param name="merge_map_topic" value = "/t_map"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="world_to_test_map_tf_broadcaster" args="0 0 0 0 0 0 /map /t_map 100"/> -->
  <!--<node pkg="tf" type="static_transform_publisher" name="world_to_$(arg j3)_tf_broadcaster"  args="0 0 0 0 0 0 /map /$(arg j3)/map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg j4)_tf_broadcaster" args="0 0 0 0 0 0 /map /$(arg j4)/map 100"/>-->
</launch>