<launch>
  <arg name="ns" default="jackal0"/>
  <arg name="global_frame" default="$(arg ns)/map"/>
  <arg name="local_frame"  default="$(arg ns)/odom"/>

  <group ns="base_controller">
      <param name="odom_frame_id" type="string" value="$(arg ns)/stereo_odometry"/>
      <param name="base_frame_id" type="string" value="$(arg ns)/base_link"/>
  </group>
  <remap from="/base_controller/odom" to="$(arg ns)/jackal_velocity_controller/odom"/>

  <!-- <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find jackal_navigation_rtab)/params/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find jackal_navigation_rtab)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find jackal_navigation_rtab)/params/ns_params/local_costmap_params_$(arg ns).yaml"  command="load"/>
    <rosparam file="$(find jackal_navigation_rtab)/params/ns_params/global_costmap_params_$(arg ns).yaml" command="load"/>

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
    <rosparam file="$(find jackal_navigation_rtab)/params/ns_params/base_local_planner_teb_$(arg ns).yaml" command="load" />
    <rosparam file="$(find jackal_navigation_rtab)/params/ns_params/base_global_planner.yaml" command="load" />
    <rosparam file="$(find jackal_navigation_rtab)/params/move_base_params.yaml" command="load" />

    <remap from="robot_base_frame" to="$(arg ns)/base_link"/>
    <param name="global_costmap/global_frame" value="$(arg ns)/proj_map"/>
    <param name="local_costmap/global_frame" value="$(arg ns)/odom"/>
    <param name="local_costmap/point_cloud_sensor/sensor_frame" value="$(arg ns)/base_link"/>
    <param name="local_costmap/point_cloud_sensor/topic" value="$(arg ns)/planner_cloud"/>
    <param name="local_costmap/robot_base_frame" value="$(arg ns)/base_link"/>

    <remap from="odom"    to="/$(arg ns)/new_odometry" />
    <remap from="cmd_vel" to="/$(arg ns)/cmd_vel"/>
    <remap from="/map" to="$(arg ns)/map"/>

  </node> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find jackal_navigation_rtab)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jackal_navigation_rtab)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    
    <rosparam file="$(find jackal_navigation_rtab)/params/ns_params/local_costmap_params_$(arg ns).yaml"  command="load"/>
    <rosparam file="$(find jackal_navigation_rtab)/params/ns_params/global_costmap_params_$(arg ns).yaml" command="load"/>
    <!-- <rosparam file="$(find jackal_navigation_rtab)/params/ns_params/base_local_planner_teb_$(arg ns).yaml"  command="load"/> -->


    <rosparam file="$(find jackal_navigation)/params/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find jackal_navigation)/params/move_base_params.yaml" command="load" />
    
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <!-- <param name="base_global_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/> -->
    <!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/> -->

    <remap from="robot_base_frame" to="$(arg ns)/base_link"/>
    <param name="global_costmap/global_frame" value="$(arg ns)/proj_map"/>
    <param name="move_base/TrajectoryPlannerROS/xy_goal_tolerance" value="0.35"/>
    <param name="move_base/TrajectoryPlannerROS/latch_xy_goal_tolerance" value="true"/>
    <!-- <param name="local_costmap/global_frame" value="$(arg ns)/odom"/>
    <param name="local_costmap/point_cloud_sensor/sensor_frame" value="$(arg ns)/base_link"/> 
    <param name="local_costmap/point_cloud_sensor/sensor_frame" value="$(arg ns)/velodyne"/>
    <param name="local_costmap/point_cloud_sensor/topic" value="$(arg ns)/planner_cloud"/>
    <param name="local_costmap/robot_base_frame" value="$(arg ns)/base_link"/> -->
    
    <remap from="odom" to="/$(arg ns)/ground_odom" />

    <!-- Remap to the topic corresponding to twist_mux_topics.yaml -->
    <remap from="cmd_vel" to="/$(arg ns)/cmd_vel" />
    <remap from="/map" to="/$(arg ns)/$(arg ns)_proj_map"/>

  </node>
  
  <param name="cmd_vel/abtr_priority" value="10"/>

  <!-- <node pkg="nodelet" type="nodelet" name="stereo_nodelet" args="manager"/> -->
  <node pkg="nodelet" type="nodelet" name="disparity2cloud" args="standalone rtabmap_ros/point_cloud_xyz">
    <remap from="disparity/image" to="/$(arg ns)/disparity"/>
    <remap from="disparity/camera_info" to="/$(arg ns)/multisense_sl/camera/right/camera_info"/>
    <remap from="cloud" to="/$(arg ns)/cloudXYZ"/>

    <param name="voxel_size" type="double" value="0.05"/>
	<param name="decimation" type="int" value="4"/>
	<param name="max_depth" type="double" value="4"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="obstacles_detection" args="standalone rtabmap_ros/obstacles_detection">
    <remap from="cloud" to="/$(arg ns)/cloudXYZ"/>
    <!-- <remap from="obstacles" to="planner_cloud"/> -->
    <remap from="obstacles" to="/$(arg ns)/planner_cloud"/>

    <param name="frame_id" type="string" value="$(arg ns)/base_link"/>
    <param name="map_frame_id" type="string" value="map"/>
    <param name="wait_for_transform" type="bool" value="true"/>
	<param name="Grid/MinClusterSize" type="int" value="20"/>
	<param name="Grid/MaxObstacleHeight" type="double" value="9999.0"/>
  </node>

</launch>